//sass style.scss ..\css\style.css

$black: #000;
$white:#fff;


@mixin font-mixin($font, $weight, $size, $color) {
  	font-family: $font;
	font-weight: $weight;
	font-size: $size;
	color: $color;
}

body{
	background-color:$black; 
	#home{
		h1{
			@include font-mixin(Helvetica, 700, 100px, $white);
		}
	}
}

